html
    head
        title #{ title }
        meta( charset='utf-8')
        link( rel="stylesheet", href="./css/master.css" )
    body
        h1 #{ title }
        div.princ 
            ul
                li
                    a( href="/" ) Home 
                li
                    a( href="/noticias" ) Noticias 
                li
                    a( href="/opinion" ) Opinion 
                li 
                    a( href="/economia" ) Economia 
                li 
                    a( href="/deportes") Deportes 
                li
                    a( href="/entretenimiento" ) Entretenimiento 
                li 
                    a( href="/cultura" ) Cultura 
                li 
                    a( href="/tecnologia" ) Tecnologia         
            main
                div.container  This is Jade     
                img( src="./images/happy.gif" )
        //-- comment 
            footer
                div.footer
        script( src="./js/master.js" )